<header class="flex justify_center w_100 fixed bg_black">
      <div class="header_content flex justify_between align_center">
            <div class="logo">
                  <a routerLink="/">
                        <img
                              class="border_box"
                              src="./assets/images/img_top_logo.png"
                              alt="img_top_logo"
                        >
                  </a>
            </div>
            <div class="right_options flex">
                  <ul class="menu">
                        <li>
                              <a
                                    class="white font_bold fontsize_18 transition_ease_normal border_box"
                                    routerLink="/docs"
                                    routerLinkActive="active"
                              >Documentation</a>
                        </li>
                  </ul>
                  <div class="socials flex align_center">
                        <a
                              class="border_box"
                              href="https://github.com/isVertical/atom.css"
                              target="_blank"
                        >
                              <img
                                    src="./assets/images/icon_github.png"
                                    alt="icon_github"
                              >
                        </a>
                        <a
                              class="border_box"
                              href="https://zhuanlan.zhihu.com/yuan123"
                              target="_blank"
                        >
                              <img
                                    src="./assets/images/icon_zhihu.png"
                                    alt="icon_zhihu"
                              >
                        </a>
                  </div>
            </div>
      </div>
</header>